* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.cards {
    margin-top: 319px;
    margin-bottom: 777px;

    &__item {
        display: flex;
        width: 652px;
        height: 306px;
        border: 1px solid;
    }

    &__xButton {
        height: 22px;
        display: flex;
        margin-top: 28px;
        margin-right: 22px;
        border: none;
        background-color: white;
    }

    &__desc {
        padding: 22px 57px 62px 31px;
    }

    &__heading {
        color: #222;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 42px;
        width: 262px;
        height: 58px;
    }

    &__txt {
        color: #575757;
        ;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 6px;

        span {
            color: red;
        }

        .quantity {
            width: 44px;
            text-align: center;
            color: #656565;
            font-size: 18px;
            font-weight: 400;
            margin-left: 24px;
        }
    }



}